{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>Nos produits phares</h1>
    <div class="row">
        {% for p in products %}
            <div class="col">
                {% include "product/_product_card.html.twig" %}
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Un service irreprochable</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam consequatur ex itaque modi
        natus nesciunt nostrum quos, unde veniam. Adipisci quam quibusdam quis soluta. Accusantium at cum dolores
        veritatis.</p>
    <div class="row">
        {% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'texte': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse id mollitia nam quas qui, quia vero. Aut blanditiis ipsam iusto."
        } %}
        {% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'texte': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse id mollitia nam quas qui, quia vero. Aut blanditiis ipsam iusto."
        } %}
        {% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'texte': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse id mollitia nam quas qui, quia vero. Aut blanditiis ipsam iusto."
        } %}
    </div>
{% endblock %}

